---
import "../styles/global.css";
import Main from "../components/Main.svelte";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<link rel="preconnect" href="https://rsms.me/inter" />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

		<title>Elden Ring Boss Checklist</title>
	</head>

	<body class="max-w-screen-xl mx-auto antialiased px-6">
		<Main client:load />
	</body>
</html>
